*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.fondo{
background-image: url(../img/logo\ buimon.png);
background-repeat: no-repeat;
background-position:center;
background-size:60% ;
width: 100%;
height: 44.5rem;
}
.general{
    background-color: rgba(255, 255, 255, 0.7);

    width: 70%;
    margin: auto;
    position: relative;
    top: 50%;
    border-radius: 20px;
    padding: 10px 20px;
    
}
.invGeneral{
    text-align: center;
    font-size: 350%;
}
input{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 120%;
   border-radius: 10px;
   
   
}